.col-md-12
  .panel.panel-success
    .panel-heading
      %h4.panel-title
        = @catalog.title

    .panel-body
      .row
        .col-md-12
          %ul.nav.nav-tabs
            %li.active
              %a{href: '#general-tab', data: {toggle: 'tab'}} General Details
            %li
              %a{href: '#semesters-tab', data: {toggle: 'tab'}} Semesters

          .tab-content
            #general-tab.tab-pane.active
              .row
                .col-md-7
                  .bs-callout.bs-callout-info
                    %h4 Catalog Details
                    %table.table.table-striped
                      %tr
                        %td.strong Catalog Title
                        %td= @catalog.title
                      %tr
                        %td.strong # of Semesters
                        %td= @catalog.semesters.count

                .col-md-5
                  .bs-callout.bs-callout-info

            #semesters-tab.tab-pane
              .bs-callout.bs-callout-warning
                %h4 Catalog Semesters
                %table.table.table-striped
                  %thead
                    %tr(style="border-top: solid 2px #888")
                      %th Title
                      %th # of Courses
                      %th Created
                      %th Updated
                  %tbody
                    - @catalog.semesters.each do |semester|
                      %tr
                        %td= link_to semester.title, semester_path(semester)
                        %td= semester.courses.count
                        %td= semester.created_at.to_formatted_s(:short)
                        %td= semester.updated_at.to_formatted_s(:short)

            #templates-tab.tab-pane
              .bs-callout.bs-callout-success
                %table.table.table-striped
                  %thead
                    %tr(style="border-top: solid 2px #888")
                      %th Course Title
                      %th Course Number
                      %th Created
                      %th Updated
                  %tbody
                    - @catalog.templates.each do |template|
                      %tr
                        %td= template.course_title
                        %td= template.course_number
                        %td= template.created_at.to_formatted_s(:short)
                        %td= template.updated_at.to_formatted_s(:short)

    .panel-footer
      = link_to 'Edit', edit_catalog_path(@catalog), class: "btn btn-primary"
      = link_to 'Back to Catalogs', catalogs_path, class: "btn btn-success"