= nested_form_for(@course, html: { :role => "form" }) do |f|
  .col-md-12
    .panel.panel-primary
      .panel-heading
        - if @course.semester_id.nil?
          %h4.panel-title
            New Course
        - else
          %h4.panel-title
            = raw(@course.title + " <span class=\"badge\">" + Semester.where(id: @course.semester_id).first.title + " Course</span>")

      .panel-body
        = render 'courses/partials/notice'

        %ul.nav.nav-tabs
          %li.active
            %a{href: '#general-tab', data: {toggle: 'tab'}}
              General Details
          %li
            %a{href: '#requirements-tab', data: {toggle: 'tab'}}
              Requirements
          %li
            %a{href: '#sections-tab', data: {toggle: 'tab'}}
              Sections

        .tab-content
          = render 'courses/partials/generalTab', f: f
          = render 'courses/partials/requirementsTab', f: f
          = render 'courses/partials/sectionsTab', f: f

      .panel-footer
        = link_to 'Back to Courses', courses_path, class: 'btn btn-success'
        = f.submit 'Save', class: 'btn btn-primary'
