= nested_form_for(@course, html: { :role => "form" }) do |f|
  .col-md-12
    .panel.panel-primary
      .panel-heading
        - if @course.semester_id.nil?
          %h4.panel-title New Course
        - else
          %h4.panel-title
            = raw(@course.title + " <span class=\"badge\">" + Semester.where(id: @course.semester_id).first.title + " Course</span>")

      .panel-body
        - if @course.errors.any?
          #error_explanation
            %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
            %ul
              - @course.errors.full_messages.each do |msg|
                %li= msg
        %ul.nav.nav-tabs
          %li.active
            %a{href: '#general-tab', data: {toggle: 'tab'}} General Details
          %li
            %a{href: '#sections-tab', data: {toggle: 'tab'}} Sections
          %li
            %a{href: '#requirements-tab', data: {toggle: 'tab'}} Requirements

        .tab-content
          #general-tab.tab-pane.active
            .row(style="margin-top: 10px")
              .col-md-6
                .form-group
                  = f.label 'Course Title', class: 'form-label'
                  = f.text_field :title, class: 'form-control'

              .col-md-6
                .form-group
                  = f.label 'Semester', class: 'form-label'
                  = f.collection_select :semester_id, Semester.all, :id, :title, { include_blank: '' }, class: "form-control"

              .col-md-6
                .form-group
                  = f.label 'Course Catalog Number', class: 'form-label'
                  = f.text_field :number, class: 'form-control'

              .col-md-6
                .form-group
                  = f.label :credits, class: 'form-label'
                  = f.text_field :credits, class: 'form-control'

              .col-md-12
                = f.label :url, class: 'form-label'
                = f.text_field :url, class: 'form-control'

            .row(style="margin-top: 10px")
              .col-md-12
                = f.label :description, class: 'form-label'
                = f.text_area :description, class: 'form-control'

          #sections-tab.tab-pane
            .row(style="margin-top: 10px")
              .col-md-12
                %table#sections.table.table-striped.table-condensed
                  %thead
                    %tr(style="border-bottom: solid 2px #999")
                      %th CRN
                      %th Enrollment Cap
                      %th Enrollment Act
                      %th Waitlist Cap
                      %th Waitlist Act
                      %th Passed
                      %th.action-column
                        Actions
                  %tbody
                    = f.fields_for :sections, :wrapper => false do |section_form|
                      %tr.fields
                        %td
                          = section_form.text_field :crn, class: 'form-control input-sm'
                        %td
                          = section_form.text_field :enr_cap, class: 'form-control input-sm'
                        %td
                          = section_form.text_field :enr_act, class: 'form-control input-sm'
                        %td
                          = section_form.text_field :wait_cap, class: 'form-control input-sm'
                        %td
                          = section_form.text_field :wait_act, class: 'form-control input-sm'
                        %td
                          = section_form.text_field :passed, class: 'form-control input-sm'
                        %td.text-center
                          = section_form.link_to_remove class: 'btn btn-default btn-xs' do
                            %i.fa.fa-trash-o

                  = f.link_to_add :sections, class: 'btn btn-primary btn-xs pull-right', data: { target: '#sections' } do
                    %i.fa.fa-plus
                    Add Section

          #requirements-tab.tab-pane
            -# Only show the following block if the course has already been persisted to the DB
            - if @course.persisted?
              .row(style="margin-top: 10px")
                .col-md-12
                  %table#requirements.table.table-striped.table-condensed
                    %thead
                      %tr(style="border-bottom: solid 2px #999")
                        %th Requirement Course Title
                        %th.text-center(style="width: 150px") Is Co-requirement
                        %th.action-column Actions
                    %tbody
                      = f.fields_for :requirements, :wrapper => false do |req_form|
                        %tr.fields
                          %td
                            = req_form.collection_select :course_id, Course.by_semester(@course.semester_id), :number, :name_with_number, { include_blank: '' }, class: "form-control input-sm"
                          %td.text-center(style="width: 150px")
                            = req_form.check_box :corequirement
                          %td.text-center
                            = req_form.link_to_remove class: 'btn btn-default btn-xs' do
                              %i.fa.fa-trash-o

                    = f.link_to_add :requirements, class: 'btn btn-primary btn-xs pull-right', data: { target: '#requirements' } do
                      %i.fa.fa-plus
                      Add Requirement
            - else
              .bs-callout.bs-callout-warning
                %h4 Course Requirements
                Please complete the course details and save the course before adding any requirements

      .panel-footer
        = f.submit 'Save', class: 'btn btn-primary'
        = link_to 'Back to Courses', courses_path, class: 'btn btn-default'
        .pull-right
          = f.check_box :is_locked


:coffee
  $("#course_is_locked").bootstrapSwitch
    onText: "LOCKED"
    offText: "UNLOCKED"

  $('#course_credits').TouchSpin
    verticalbuttons: true

  $('#course_enr_cap').TouchSpin
    verticalbuttons: true

  $('#course_enr_act').TouchSpin
    verticalbuttons: true

  $('#course_wait_cap').TouchSpin
    verticalbuttons: true

  $('#course_wait_act').TouchSpin
    verticalbuttons: true